<p style="color: green"><%= notice %></p>

<%= render @mytask %>

<div>
  <%= link_to "Edit this mytask", edit_mytask_path(@mytask) %> |
  <%= link_to "Back to mytasks", mytasks_path %>

  <%= button_to "Destroy this mytask", @mytask, method: :delete %>
</div>
