<div id="<%= dom_id place %>">
  <p>
    <strong>City:</strong>
    <%= place.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= place.country %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= place.name %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= place.photo %>
  </p>

</div>
