<!DOCTYPE html>
<html>
  <head>
    <title>Heywowthere111</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>

      <%if user_signed_in?%>
        <%= button_to("Log Out", destroy_user_session_path, method: :delete) %>
      <%else%>

      <%=link_to "ocnnexion", "/users/sign_in"%>
      <%=link_to "inscription", "/users/sign_up"%>

      <%end%>
      <%=link_to "bienveue", "/"%>
      <%=link_to "jouter un endroit", new_place_path%>
      <%=link_to("jouter des tache menagere ke tu connai &#129529;".html_safe, new_mytask_path).html_safe%>
      <%=link_to("jouter des tache menagere ke kelkun doit faire", new_yourtask_path)%>
      <%=link_to "jouter une tâche à un endroit", new_placetask_path%>
    </nav>
    <%= yield %>
  </body>
</html>
